<div class="row">
  <div id="sidebar" class="col-lg-2 info">
    <a routerLink="/admin/product" class="demo">Product</a>
    <br />
    <br />
    <a routerLink="/admin/products" class="demo1">Products</a>
    <br>
    <br>
    <a routerLink="/admin/order" class="demo">order</a>
  </div>

  <div class="col-lg-10">
    <table border="1">
      <tr>
        <th>fristname</th>
        <th>lastname</th>
        <th>email</th>
        <th>address</th>
        <th>phon-number</th>
        <th>pincode</th>
        <th>city</th>
        <th>state</th>
        <!-- <th>title</th>
        <th>quntity</th>
        <th>price</th>
        <th>total</th>
        <th>product-ditelas</th> -->
        <th>Product Details</th>
        <th>status</th>


      </tr>
      <tr *ngFor="let getorder of getorders;let i = index">
        <td>{{getorder.firstname}}</td>
        <td>{{getorder.lastname}}</td>
        <td>{{getorder.email}}</td>
        <td>{{getorder.address}}</td>
        <td>{{getorder.phon}}</td>
        <td>{{getorder.pincode}}</td>
        <td>{{getorder.city}}</td>
        <td>{{getorder.state}}</td>
        <!-- <td>{{getorder.product[i].title}}</td>
        <td>{{getorder.product[i].quntity}}</td>
        <td>{{getorder.product[i].price}}</td>
        <td>{{getorder.product[i].total}}</td>
        <td><img src="{{getorder.product[i].image}}" height="70px" alt=""></td> -->

        <td>
          <ul>
            <li *ngFor="let p of getorder.product">

              <img src="{{p.image}}" alt="" height="30">
              {{p.title}}
                                                                        
            </li>
          </ul>
        </td>
        <td>{{getorder.Status}}</td>

      </tr>



    </table>
  </div>
</div>
